$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
$color-black:black;
$color-white:white;
$Light-gray:#f7f7f7;
$gray:#777;
$Light-gray-e:#eee;
$Light-orange:#ffb900;
$Dark-orange:#ff7730;
$Light-blue:#2998ff;
$Dark-blue:#5643fa